@use "../../assets/styles/abstracts/variables" as *;

.paymentDetails {
  fieldset {
    position: relative;
    legend {
      position: absolute;
      top: 0;
      left: 0;
      color: $color-black;
      text-transform: capitalize;
      font-size: 1.2rem;
      font-weight: bold;
      letter-spacing: -0.21px;
      line-height: 1;
    }
  }
  &__paymentMethod {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    &_emoney {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      span:first-child::first-letter {
        text-transform: lowercase;
      }
    }
    &_cash {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }
  }
  &__paymentMethod_details {
    margin-top: 0.6rem;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
  .radioInput {
    border: 1px solid $color-grey;
    border-radius: 8px;
    padding-left: 1.6rem;
    height: 5.6rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 0.8rem;

    input {
      appearance: none;
      padding: 0;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      position: relative;

      &:checked::before {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: $color-brown;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &:has(input:checked) {
      border-color: $color-brown;
    }
  }
}
