@use "../../assets/styles/abstracts/variables" as *;

.summary {
  padding: 3.2rem;
  // width: 100%;
  background-color: $color-white;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:
    [header-start] min-content [header-end items-start] min-content
    [items-end footer-start] min-content [footer-end];
  row-gap: 3.2rem;
  &__header {
    grid-column: 1 / 2;
    grid-row: header;
    text-align: left;
  }
  &__items {
    width: 100%;
    height: auto;
    position: relative;
    &_list {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }
  }
  &__footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2.4rem;
    &_button,
    &_button:hover {
      width: 100%;
      &:disabled {
        background-color: $color-grey;
        cursor: auto;
      }
    }
  }
}
