@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

@font-face {
  font-family: "Manrope";
  src: url("../fonts/subset-Manrope-Bold.woff2") format("woff2"),
    url("../fonts/subset-Manrope-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/subset-Manrope-Medium.woff2") format("woff2"),
    url("../fonts/subset-Manrope-Medium.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/subset-Manrope-Regular.woff2") format("woff2"),
    url("../fonts/subset-Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.7;
  color: $color-grey;
}

@mixin heading($size, $height, $spacing, $weight: bold) {
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
  font-weight: $weight;
  text-transform: uppercase;
  color: $color-black;
}

h1 {
  @include heading(5.6rem, 1.04, 2px);
  color: $color-white;
  @include respond(mobile) {
    font-size: 3.6rem;
    line-height: 1.1;
    letter-spacing: 1.29px;
  }
}
h2 {
  @include heading(4rem, 1.1, 1.5px);
  @include respond(mobile) {
    font-size: 2.8rem;
    line-height: auto;
    letter-spacing: 2px;
  }
}
h3 {
  @include heading(3.2rem, 1.125, 1.15px);
  @include respond(mobile) {
    font-size: 2.4rem;
    letter-spacing: 0.84px;
  }
}
h4 {
  @include heading(2.8rem, 1.36, 2px);
}
h5 {
  @include heading(2.4rem, 1.375, 1.7px);
}
h6 {
  @include heading(1.8rem, 1.33, 1.3px);
}

.overline {
  @include heading(1.4rem, 1.36, 10px, $weight: normal);
  color: $color-brown;
  @include respond(tablet) {
    font-size: 1.2rem;
  }
}
.subtitle {
  @include heading(1.3rem, 1.92, 1px);
  color: $color-brown;
}
