@use "../../assets/styles/abstracts/mixins" as *;

.otherProducts {
  &__heading {
    text-align: center;
    margin-bottom: 6.4rem;
    @include respond(tablet) {
      margin-bottom: 5.6rem;
    }
    @include respond(mobile) {
      margin-bottom: 4rem;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    align-items: stretch;
    justify-items: center;
    @include respond(tablet) {
      gap: 1.1rem;
    }
    @include respond(mobile) {
      width: 32.7rem;
      margin: 0 auto;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, min-content);
      row-gap: 5.6rem;
    }
  }
}
