.productGallery {
  width: 100%;
  // margin-bottom: 16rem;
  display: grid;
  grid-template-columns: repeat(12, minmax(min-content, 6.5rem));
  grid-template-rows: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 3rem;
  grid-template-areas:
    "img1 img1 img1 img1 img1 img3 img3 img3 img3 img3 img3 img3"
    "img2 img2 img2 img2 img2 img3 img3 img3 img3 img3 img3 img3";

  &__img1 {
    grid-area: img1;
  }
  &__img2 {
    grid-area: img2;
  }
  &__img3 {
    grid-area: img3;
  }
}
