@use "../../assets/styles/abstracts/mixins" as *;

.prodDetail {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: minmax(48rem, 56rem) min-content;
  grid-template-areas:
    "image image image product product product"
    "features features features features list list";
  row-gap: 16rem;
  column-gap: 6.95rem;
  @include respond(tab-landscape) {
    grid-template-rows: minmax(48rem, 56rem) min-content min-content;
    grid-template-areas:
      "image image image product product product"
      "features features features features features features"
      "list list list list list list";
    row-gap: 12rem;
  }

  &_image {
    grid-area: image;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_desc {
    max-width: 44.5rem;
    grid-area: product;
    justify-self: right;
    align-self: center;
  }
  &__features {
    grid-area: features;
  }
  &__list {
    grid-area: list;
  }
}
