@use "../../assets/styles/abstracts/variables" as *;

.statement {
  border-collapse: collapse;
  th {
    text-align: left;
    color: $color-grey;
    text-transform: uppercase;
    font-weight: 500;
  }
  td {
    color: $color-black;
    text-align: right;
    font-size: 1.8rem;
    font-weight: bold;
  }
  tfoot {
    tr {
      height: 5rem;
      vertical-align: bottom;
    }
    td {
      color: $color-brown;
    }
  }

  &__cart {
    tr {
      display: none;
    }
    tbody tr:first-child {
      display: table-row;
    }
  }

  &__summary {
    tr {
      display: table-row;
    }
  }
  &__fallback {
    margin: 0 auto;
  }
}
