@use "../../assets/styles/abstracts/variables" as *;
@use "../../assets/styles/abstracts/mixins" as *;

.categoryHeading {
  height: 33.6rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 9.7rem;
  background-color: $color-black;
  h2 {
    color: $color-white;
  }
  @include respond(mobile) {
    height: 19.2rem;
    padding-bottom: 3.2rem;
  }
}
