@use "../../assets/styles/abstracts/mixins" as m;

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  align-items: stretch;
  justify-items: center;
  @include m.respond(tab-landscape) {
    gap: 1rem;
  }
}
