@use "../../assets/styles/abstracts/variables" as *;

.categoryHeading {
  height: 33.6rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 9.7rem;
  background-color: $color-black;
  h2 {
    color: $color-white;
  }
}
