@use "../../assets/styles/abstracts/mixins" as *;

.endOrder {
  width: 54rem;
  padding: 4.8rem;
  @include respond(mobile) {
    max-width: 32.7rem;
    padding: 3.2rem;
  }
  @include respond(mobile-small) {
    padding: 1.6rem;
  }
  &__header {
    h3 {
      margin: 3.3rem 0 2.4rem;
      white-space: pre-wrap;
    }
  }
  &__body {
    margin: 3.3rem 0 4.6rem;
  }

  &__button,
  &__button:hover {
    width: 100%;
  }
}
