.home {
  &__first {
    grid-column: mid;
    grid-row: 4 / 5;
  }
  &__second {
    grid-column: mid;
    grid-row: 5 / 6;
  }
  &__third {
    grid-column: mid;
    grid-row: 6 / 7;
  }
  &__categories {
    grid-column: mid;
    grid-row: 3 / 4;
  }
}
