@use "../../assets/styles/abstracts/variables" as *;
@use "../../assets/styles/abstracts/mixins" as *;
@use "../../assets/styles/base/typography" as t;

.homeHeroProduct {
  &__picture {
    grid-column: full;
    grid-row: nav-start / back-end;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 75rem;
    overflow: hidden;
    width: 100%;
    z-index: -100;
    display: block;
    @include respond(tablet) {
      height: auto;
    }
    img {
      z-index: -100;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
  &__box {
    grid-column: mid;
    grid-row: back;
    max-width: 40rem;
    align-self: center;
    color: $color-white;
    @include respond(tablet) {
      text-align: center;
      justify-self: center;
    }

    p:first-child {
      color: $color-grey;
      font-size: 1.4rem;
    }
    h1 ~ p {
      width: 35rem;
      @include respond(tablet) {
        margin: 0 auto;
      }
      @include respond(mobile) {
        width: 32.8rem;
      }
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      margin-bottom: 4rem;
    }
    a {
      @include link__solid($color-brown, $color-light-brown);
      @include respond(tablet) {
        margin: 0 auto;
      }
    }
  }
}
