@use "../../assets/styles/abstracts/variables" as *;
@use "../../assets/styles/abstracts/mixins" as m;

.home {
  &__main {
    grid-column: mid;
    grid-row: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: [categories-start] auto [categories-end products-start] auto [products-end];
    padding: 12rem 0 20rem;
  }
  &__categories {
    grid-row: categories;
    margin-bottom: 16.8rem;
  }
  &__products {
    grid-row: products;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: [first-start] auto [first-end second-start] auto [second-end third-start] auto [third-end];
    row-gap: 4.8rem;
  }
  &__firstProduct {
    grid-row: first;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 56rem;
    background-color: $color-brown;
    overflow: hidden;

    &_box {
      color: $color-white;
      width: 34.9rem;
      align-self: center;
      justify-self: center;

      div p:last-child {
        margin-top: 2.4rem;
      }
      div {
        margin-bottom: 4rem;
      }
      a {
        @include m.link__solid($color-black, $color-dark-grey);
      }
    }
    &_img {
      width: 38rem;
      align-self: end;
      justify-self: end;
      margin-right: 4rem;
      margin-bottom: -1.5rem;
    }
  }
  &__secondProduct {
    grid-row: second;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // margin-bottom: 4.8rem;
    &_box {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      align-self: center;
      padding-left: 9.65rem;
      h2 {
        margin-bottom: 3.2rem;
      }
      a {
        @include m.link__outline;
      }
    }
    &_img {
      grid-column: 1 / 3;
      z-index: -100;
      grid-row: 1 / 2;
    }
  }
  &__thirdProduct {
    grid-row: third;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    &_box {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      align-self: stretch;
      padding-left: 9.65rem;
      background-color: $color-light-grey;
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
      align-items: flex-start;
      justify-content: center;
      @include m.round;
      a {
        @include m.link__outline;
      }
    }
    &_img {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }
}
