@use "../../assets/styles/abstracts/variables" as *;
@use "../../assets/styles/abstracts/mixins" as *;

.customFieldset {
  border: none;
  &__children {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    column-gap: 1.6rem;
    row-gap: 2.4rem;
    @include respond(mobile) {
      grid-template-columns: 1fr;
    }
  }
  &__legend {
    color: $color-brown;
    margin-bottom: 1.6rem;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.93px;
    line-height: 2;
    text-transform: uppercase;
  }
}
