@use "../../assets/styles/abstracts/mixins" as *;

.features {
  width: 63.5rem;
  p {
    white-space: pre-wrap;
    margin-top: 3.2rem;
    @include respond(mobile) {
      margin-top: 2.4rem;
    }
  }
  @include respond(tablet) {
    width: 100%;
  }
}
