@use "../../assets/styles/abstracts/mixins" as *;

.prodPurchase {
  display: flex;
  gap: 1.6rem;

  &__addCart,
  &__addCart:hover {
    width: 16rem;
    padding-left: 0;
    padding-right: 0;
    @include respond(mobile-small) {
      width: 13rem;
    }
  }
}
