@use "../../assets/styles/abstracts/variables" as *;

.productInfo {
  display: block;
  &__light {
    color: $color-white;
    p:first-child {
      color: $color-grey;
    }
  }
  &__header {
  }
}
