@use "../../assets/styles/abstracts/variables" as *;

.productPurchase {
  text-align: left;
  margin-bottom: 4.7rem;
  & > p:first-child {
    margin-bottom: 1.6rem;
  }
  &__heading {
    margin-bottom: 3.2rem;
  }
  &__desc {
    margin-bottom: 3.2rem;
  }

  &__price {
    color: $color-black;
    font-weight: bold;
  }
}
