.category {
  &__main {
    grid-row: main;
    grid-column: mid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: [products-start] auto [products-end categories-start] auto [categories-end];
    row-gap: 16rem;
    margin: 16rem 0;
  }
  &__heading {
    grid-row: nav / back;
    grid-column: full;
  }
  &__products {
    grid-row: products;
  }
  &__categories {
    grid-row: categories;
  }
}
