@use "../assets/styles/abstracts/variables" as *;
@use "../assets/styles/abstracts/mixins" as *;

.errorPage {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns:
    [full-start] minmax(4rem, 1fr) [mid-start]
    minmax(32.7rem, 111rem)
    [mid-end] minmax(4rem, 1fr) [full-end];
  grid-template-rows: [header-start] 9.6rem [header-end main-start] 1fr [main-end footer-start] min-content [footer-end];
  @include respond(tablet) {
    grid-template-rows: [header-start] 9rem [header-end main-start] 1fr [main-end footer-start] min-content [footer-end];
  }
  @include respond(mobile) {
    grid-template-columns:
      [full-start] 2.4rem [mid-start]
      minmax(32.7rem, 111rem)
      [mid-end] 2.4rem [full-end];
  }
  @include respond(mobile-small) {
    grid-template-columns:
      [full-start] 2.4rem [mid-start]
      minmax(25rem, 111rem)
      [mid-end] 2.4rem [full-end];
  }
  &__header {
    grid-row: header;
    grid-column: mid;
    &_background {
      grid-column: full;
      grid-row: header;
      background-color: $color-black;
    }
  }
  &__menu {
    grid-row: main / footer;
    grid-column: full;
    z-index: 400;
  }
  &__main {
    grid-row: main;
    grid-column: mid;
    justify-self: stretch;
    align-self: stretch;
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      padding: 2rem;
    }
    img {
      max-width: 32rem;
      height: auto;
      border-radius: 8px;
    }

    h1 {
      font-size: 2rem;
      color: $color-black;
    }

    p {
      font-size: 2.5rem;
    }
  }
}
