.zpattern {
  display: flex;
  flex-direction: column;
  gap: 16rem;
}
.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, [box-start] 54rem [box-end]);
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
  // img,
  // picture {
  //   max-height: 100%;
  //   width: auto;
  // }
}
.box1 {
  grid-column: box1 / box2;
  grid-row: 1 / 2;
}
.box2 {
  grid-column: box2 / box3;
  grid-column: 1 / 2;
}
