@use "../assets/styles/abstracts/variables" as *;
@use "../assets/styles/abstracts/mixins" as m;

.categoryCard {
  & {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(10, 1fr);
    justify-items: center;
    @include m.respond(mobile) {
      height: 22rem;
      grid-template-rows: repeat(12, 1fr);
    }
  }
  &__content {
    grid-row: 1 / 11;
    grid-column: 1 / 2;
    align-self: flex-end;
    text-align: center;
    padding-bottom: 3rem;
    @include m.respond(mobile) {
      grid-row: 1 / 13;
      grid-column: 1 / 2;
    }
    img {
      width: 65%;
      display: inline-block;
      @include m.respond(mobile) {
        max-width: 57%;
      }
    }
    h6 {
      margin-top: -3rem;
      margin-bottom: 1.5rem;
      @include m.respond(tablet) {
        font-size: 1.5rem;
      }
    }
    a {
      @include m.link__text;
    }
  }
  &__background {
    grid-row: 4 / 11;
    grid-column: 1 / 2;
    width: 100%;
    border-radius: 8px;
    background-color: $color-light-grey;
    z-index: -100;
    @include m.respond(mobile) {
      grid-row: 4 / 13;
      grid-column: 1 / 2;
      width: 32.7rem;
    }
    @include m.respond(mobile-small) {
      width: 100%;
    }
  }
}
