@use "../abstracts/variables" as *;

@mixin btn__typo {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 1px;
}

@mixin btn__solid($color) {
  @include btn__typo;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: $color;
  width: 16rem;
  height: 4.8rem;
  transition: all 0.2s;
  &:active {
    transform: translateY(-1px) scale(0.9);
  }
}

@mixin btn__outline {
  @include btn__typo;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $color-dark-grey;
  width: 16rem;
  height: 4.8rem;
  color: $color-black;
}

@mixin btn__shoptext {
  @include btn__typo;
  color: $color-grey;
  transition: all 0.2s;
  &:active {
    transform: translateY(-1px) scale(0.9);
  }
}

@mixin link__solid($color1, $color2) {
  &:link,
  &:visited {
    @include btn__solid($color1);
  }
  &:hover,
  &:active {
    @include btn__solid($color2);
  }
}

@mixin link__outline {
  &:link,
  &:visited {
    @include btn__outline;
  }
  &:hover,
  &:active {
    @include btn__solid($color-black);
    border-color: $color-black;
  }
}

@mixin link__text {
  &:link,
  &:visited {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1.33rem;
    @include btn__shoptext;
    span {
      line-height: 1;
    }
  }
  &:hover,
  &:active {
    color: $color-brown;
  }
}

@mixin link__social {
  &:link,
  &:visited {
    color: $color-white;
  }
  &:hover,
  &:active {
    color: $color-brown;
  }
}

@mixin round {
  & {
    border-radius: 8px;
    overflow: hidden;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media only screen and (max-width: $bp-tablet) {
      @content;
    }
  }
  @if $breakpoint == tab-gallery {
    @media only screen and (max-width: $bp-tab-gallery) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: $bp-mobile) {
      @content;
    }
  }
  @if $breakpoint == mobile-small {
    @media only screen and (max-width: $bp-mobile-small) {
      @content;
    }
  }
}
