////////////// COLORS///////////////
$color-brown: #d87d4a;
$color-light-brown: #fbaf85;
$color-dark-grey: #101010;
$color-light-grey: #f1f1f1;
$color-white: #fff;
$color-black: #000;

////////////// BREAKPOINTS///////////////
$bp-laptop: 72.5em; //1160px
$bp-tab-land: 64em; //1024px
$bp-tab-port: 58.75em; //940px
$bp-mobile-land: 47.75em; //764px
$bp-mobile-port: 40.75em; //652px
