@use "../assets/styles/abstracts/variables" as *;

.bestGear {
  grid-column: mid;
  grid-row: bestgear;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 2.5rem;
  margin-bottom: 20rem;
  &__textBox {
    width: 44.5rem;
    align-self: center;
    justify-self: left;
    &_heading {
      margin-bottom: 3.2rem;
      span {
        color: $color-brown;
      }
    }
    &_text {
      color: $color-grey;
    }
  }
}
