@use "../assets/styles/abstracts/variables" as *;
@use "../assets/styles/abstracts/mixins" as *;

.bestGear {
  grid-column: mid;
  grid-row: bestgear;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 2.5rem;
  margin-bottom: 20rem;
  @include respond(tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    row-gap: 6.3rem;
    margin-bottom: 9.6rem;
    &__img {
      grid-row: 1 / 2;
    }
  }
  @include respond(mobile) {
    row-gap: 4rem;
  }

  &__textBox {
    max-width: 44.5rem;
    align-self: center;
    justify-self: left;
    @include respond(tablet) {
      text-align: center;
      max-width: 57.3rem;
      margin: 0 auto;
    }
    &_heading {
      margin-bottom: 3.2rem;
      span {
        color: $color-brown;
      }
      @include respond(mobile) {
        font-size: 2.8rem;
        letter-spacing: 1px;
      }
    }
    &_text {
      color: $color-grey;
    }
  }
  &__outHome {
    margin-bottom: 16rem;
    @include respond(tablet) {
      margin-bottom: 12rem;
    }
  }
}
