@use "../assets/styles/abstracts/variables" as *;

.mainHeader {
  grid-column: mid;
  grid-row: 1 / 2;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $color-grey;
}
